# This is a basic workflow that is manually triggered

name: "[sub] Publish to Marketplace"

on:
  workflow_call:
    inputs:
      ref:
        type: string
        required: true
      paths_released:
        type: string
        required: true
    secrets:
      OVSX_TOKEN:
        required: true
      VSCE_TOKEN:
        required: true

jobs:
  filter_dirs:
    runs-on: ubuntu-latest
    outputs:
      paths_released: ${{ env.EXTENSION_LIST }}
    steps:
      - name: filter
        env:
          paths_released: ${{ inputs.paths_released }}
        run: >
          echo EXTENSION_LIST=$(
            echo $paths_released | jq 'map(select(startswith("extensions")))'
          ) >> $GITHUB_ENV

  publish:
    runs-on: ubuntu-latest
    needs:
      - filter_dirs
    if: ${{ needs.filter_dirs.outputs.paths_released != '[]' }}
    strategy:
      matrix:
        extension_dir: ${{ fromJSON(needs.filter_dirs.outputs.paths_released) }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .tool-versions
      - name: Install
        run: npm install
      - name: Prepare Try to Release
        env:
          EXTENSION_DIR: ${{ matrix.extension_dir }}
        run: |
          echo $EXTENSION_DIR
          echo EXTENSION_DIR=${{ matrix.extension_dir }} >> $GITHUB_ENV
          cd $EXTENSION_DIR
          echo EXTENSION_NAME=$(jq -r .name package.json ) >> $GITHUB_ENV

      - name: Publish VSCE
        run: |
          cd $EXTENSION_DIR
          npx vsce publish --skip-duplicate -p ${{ secrets.VSCE_TOKEN }} || echo "PUB_FAIL_VSCE=true" >> $GITHUB_ENV

      - name: Check Publish Result VSCE
        if: ${{ env.PUB_FAIL_VSCE }}
        run: echo "::error title=VSCE::Failed to Publish $EXTENSION_NAME to VS Code Marketplace."

      - name: Publish OVSX
        run: |
          cd $EXTENSION_DIR
          npx ovsx publish --skip-duplicate -p ${{ secrets.OVSX_TOKEN }} || echo "PUB_FAIL_OVSX=true" >> $GITHUB_ENV

      - name: Check Publish Result OVSX
        if: ${{ env.PUB_FAIL_OVSX }}
        run: echo "::error title=OVSX::Failed to Publish $EXTENSION_NAME to Eclipse Open VSX."

      - name: Report Results
        uses: streetsidesoftware/actions/public/summary@v1
        with:
          text: |
            ## `${{ env.EXTENSION_NAME }}`
            - VSCE Publish: ${{ env.PUB_FAIL_VSCE && 'failed' || 'success' }}
            - OVSX Publish: ${{ env.PUB_FAIL_OVSX && 'failed' || 'success' }}

      - name: Check Build
        if: ${{ env.PUB_FAIL_VSCE || env.PUB_FAIL_OVSX }}
        run: exit 1
# cspell:ignore vsix xargs OVSX startswith
